body{
  display: flex;
  background-image: url("/home/moringa/Documents/moringa-school-projects/pizzahub/images/b5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 120%;

}
h1{
    text-align: center;
    margin-left: 300%;
    color: #FFFFFF;
    font-size: 250%;
}
